{{#each data as | company |}}
    <tr>
        <td class="tg-baqh">{{id}}</td>
        <td class="tg-baqh">{{fullName}} </td>
        <td class="tg-baqh">{{address}}</td>
        <td class="tg-baqh">{{subcontractor}}</td>
        <td class="tg-baqh">{{range}}</td>
        <td class="tg-baqh">{{category}}</td>
    </tr>
{{/each}}